@font-face {
	font-family: "museo700-regular-webfont";
	src: url("../fonts/museo700-regular-webfont.eot");
	src: url("../fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo700-regular-webfont.woff") format("woff"), url("../fonts/museo700-regular-webfont.ttf") format("truetype"), url("../fonts/museo700-regular-webfont.svg#Museo700") format("svg");
}

@font-face {
	font-family: "titilliumtext22l005-webfont";
	src: url("../fonts/titilliumtext22l005-webfont.eot");
	src: url("../fonts/titilliumtext22l005-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l005-webfont.woff") format("woff"), url("../fonts/titilliumtext22l005-webfont.ttf") format("truetype"), url("../fonts/titilliumtext22l005-webfont.svg#TitilliumText22LBold") format("svg");
}

@font-face {
	font-family: "titilliumtext22l004-webfont";
	src: url("../fonts/titilliumtext22l004-webfont.eot");
	src: url("../fonts/titilliumtext22l004-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l004-webfont.woff") format("woff"), url("../fonts/titilliumtext22l004-webfont.ttf") format("truetype"), url("../fonts/titilliumtext22l004-webfont.svg#TitilliumText22LMedium") format("svg");
}

@font-face {
	font-family: "titilliumtext22l002-webfont";
	src: url("../fonts/titilliumtext22l002-webfont.eot");
	src: url("../fonts/titilliumtext22l002-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l002-webfont.woff") format("woff"), url("../fonts/titilliumtext22l002-webfont.ttf") format("truetype"), url("../fonts/titilliumtext22l002-webfont.svg#TitilliumText22LLight") format("svg");
}

@font-face {
	font-family: "titilliumtext22l003-webfont";
	src: url("../fonts/titilliumtext22l003-webfont.eot");
	src: url("../fonts/titilliumtext22l003-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l003-webfont.woff") format("woff"), url("../fonts/titilliumtext22l003-webfont.ttf") format("truetype"), url("../fonts/titilliumtext22l003-webfont.svg#TitilliumText22LRegular") format("svg");
}

@font-face {
	font-family: "helveticaneueltstd-bd-webfont";
	src: url("../fonts/helveticaneueltstd-bd-webfont.eot");
	src: url("../fonts/helveticaneueltstd-bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-bd-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-bd-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-bd-webfont.svg#HelveticaNeueLTStd75Bold") format("svg");
}

body {
	margin: 0;
	color: #b4b4b4;
	font: 16px/25px "titilliumtext22l002-webfont", Arial, Helvetica, sans-serif;
	background: url('../img/bg-body.gif') repeat;
	padding: 10px 0;
}

img {
	border-style: none;
}

a {
	text-decoration: none;
	color: #00b9e2;
}

a:hover {
	text-decoration: underline;
}

input, textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: black;
}

a:focus, input:focus, textarea:focus, select:focus {
	outline: none;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

q {
	quotes: none;
}

q:before, q:after {
	content: "";
}

.wrapper {
	background: url('../img/bg-wrapper.png') repeat;
	padding: 6px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: 0 0 10px #dddddd;
	-moz-box-shadow: 0 0 10px #dddddd;
	box-shadow: 0 0 10px #dddddd;
	width: 1164px;
	margin: 0 auto;
}

.w1 {
	overflow: hidden;
	background: white;
}

header {
	padding-top: 1px;
	width: 992px;
	margin: 0 auto;
}

header .holder {
	overflow: hidden;
	padding-bottom: 30px;
}

header .holder .img,
header .holder .avatar {
	float: left;
	width: 205px;
	height: 205px;
	overflow: hidden;
	margin: 0 58px 0 0;
	position: relative;
	top: 20px;
}

header .holder .img .mask,
header .holder .avatar .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 205px;
	height: 205px;
	z-index: 100;
	overflow: hidden;
	text-indent: -9999px;
	background: url('../img/bg-mask.png') no-repeat;
}

header .holder .img img,
header .holder .avatar img {
	vertical-align: top;
}

header .block {
	overflow: hidden;
	padding: 17px 0 0;
}

header h1 {
	font-size: 59px;
	line-height: 74px;
	color: #343333;
	margin: 0 0 12px;
	letter-spacing: -2px;
	font-weight: normal;
	font-family: "helveticaneueltstd-bd-webfont";
}

header h1 span {
	letter-spacing: 0;
	display: block;
	font-size: 23px;
	line-height: 27px;
	color: #a1a1a1;
	font-family: "titilliumtext22l003-webfont";
}

header address {
	font-style: normal;
	margin: 0;
	overflow: hidden;
	color: #343333;
	font-size: 18px;
	line-height: 22px;
	font-family: "titilliumtext22l002-webfont";
}

header address img {
	float: left;
	margin: 0 13px 0 0;
}

header article {
	overflow: hidden;
	margin-top: -30px;
}

header .slide-block {
	padding: 3px 0 0;
	font-size: 18px;
	color: #343333;
	float: right;
	width: 200px;
	margin-top: 30px;
	line-height: 30px;
margin-right: 10px;
}

header .slide-block p {
	margin: 0;
}

header .slide-block p a {
	color: #00b9e2;
	font-family: "titilliumtext22l004-webfont";
}

header .social {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-top:10px;
}

header .social li {
display: inline;
	padding: 0 0 10px;
	line-height: 38px;
	overflow: hidden;
	vertical-align: top;
}

header .social a {
	width:100px;
	float: left;
	color: #343333;
	padding: 0 0 0 51px;
	height: 38px;
	background: url('../img/bg-social.gif') no-repeat;
}

header .social a:hover {
	text-decoration: none;
}

header .social .mail {
	background-position: 0 0;
}

header .social .mail:hover {
	background-position: 0 -275px;
}

header .social .kerem {
	background-position: 0 -47px;
}

header .social .kerem:hover {
	background-position: 0 -322px;
}

header .social .facebook {
	background-position: 0 -94px;
}

header .social .facebook:hover {
	background-position: 0 -369px;
}

header .social .twitter {
	background-position: 0 -142px;
}

header .social .twitter:hover {
	background-position: 0 -417px;
}

header .social .dribbble {
	background-position: 0 -190px;
}

header .social .dribbble:hover {
	background-position: 0 -465px;
}

header .social .github {
	background-position: 0 -237px;
}

header .social .github:hover {
	background-position: 0 -512px;
}
header a:hover {
	text-decoration: none;
}

#main {
	padding: 0 0 10px;
}

#main article {
	background: url('../img/bg-section.jpg') no-repeat 100% 0;
}

#main article .section-holder {
	width: 1000px;
	margin: 0 auto;
	padding: 15px 0 10px;
}

#main article h2 {
	font-size: 50px;
	line-height: 58px;
	color: #343333;
	margin: 0 0 44px;
	font-weight: normal;
	font-family: "helveticaneueltstd-bd-webfont";
	padding: 0 0 0 75px;
	letter-spacing: -1px;
}

#main article .exper {
	background: url('../img/bullet-01.gif') no-repeat;
}

#main article .diplomes {
	background: url('../img/bullet-02.gif') no-repeat;
}

#main article .autres {
	background: url('../img/bullet-03.gif') no-repeat;
}

#main article .competences {
	background: url('../img/cle.png') no-repeat;
}

#main article .content-list {
	list-style: none;
	margin: 0;
	padding: 0 0 0 3px;
}

#main article .content-list li {
	padding: 0 10px 15px 0;
	vertical-align: top;
	line-height: 25px;
	overflow: hidden;
}

#main article .content-list .company {
	float: left;
	width: 160px;
	margin: 0 62px 0 0;
}

#main article .content-list .company strong {
	display: block;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	font-family: "titilliumtext22l005-webfont";
}

#main article .content-list .company strong a {
	color: #00b9e2;
}

#main article .content-list .company span {
	display: block;
	font-size: 17px;
	line-height: 21px;
	color: #999999;
	font-family: "titilliumtext22l002-webfont";
}

#main article .content-list .description {
	overflow: hidden;
}

#main article .content-list h3 {
	font-size: 18px;
	line-height: 22px;
	color: #343333;
	margin: 0 0 6px;
	font-weight: normal;
	font-family: "titilliumtext22l004-webfont";
}

#main article .content-list h3 span {
	font-family: "titilliumtext22l002-webfont";
}

#main article .content-list p {
	color: #999999;
	font-size: 17px;
	margin: 0 0 11px;
}

#main article .text-holder {
	padding: 0 0 20px;
}

#main article .text-holder p {
	margin: 0;
}


footer {
	overflow: hidden;
	padding: 0 79px 35px 82px;
}

footer .text-remix {
	float: left;
	margin: 0;
	width: 156px;
	height: 34px;
	overflow: hidden;
	text-indent: -9999px;
}

footer ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 12px 0 0;
}

footer ul li {
	float: left;
	margin: 0 0 0 12px;
}

footer ul .btn {
	float: left;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	cursor: pointer;
	background: url('../img/btn-01.gif') no-repeat;
	color: #b4b4b4;
	text-shadow: 0 1px white;
	font-family: "museo700-regular-webfont";
}

footer .btn:hover {
	text-decoration: none;
}

footer ul .btn span {
	float: left;
	background: url('../img/btn-01.gif') no-repeat 100% 100%;
	padding: 0 15px;
}

footer .btn:hover span {
	color: #343333;
}


@media(max-width:640px) {

	body {
		min-width: 1px;
		padding: 15px;
		color: #999999;
	}

	header,
	header .slide-block,
	header .social,
	#main article .section-holder,
	#main article .content-list .company,
	footer .text-remix,
	footer ul li,
	footer ul,
	footer ul .btn {
		width: auto;
		float: none;
	}

	header {
		padding: 20px 10px;
	}

	.wrapper {
		background: rgba(255, 255, 255, 0.62) none;
		width: auto;
	}

	.w1,
	header .holder,
	header article {
		overflow: auto;
	}

	header .holder .img {
		float: none;
		margin: 0 auto;
	}

	header .block {
		text-align: center;
	}

	header address {
		display: inline-block;
	}

	header .social {
		margin-top: 3em;
	}

	header h1 {
		line-height: 60px;
	}

	header h1 span {
		padding-top: 15px;
	}

	header .slide-block a.more_link {
		display: block;
		margin: 1em 1em 0 1em;
		border-radius: 20px;
		background-image: -webkit-linear-gradient(white, #f4f4f4);
		background-image: -moz-linear-gradient(white, #f4f4f4);
		background-image: -ms-linear-gradient(white, #f4f4f4);
		background-image: -o-linear-gradient(white, #f4f4f4);
		background-image: linear-gradient(#ffffff, #f4f4f4);
		box-shadow: 1px 1px 3px #bbbbbb inset;
		text-decoration: none;
		text-align: center;
		color: #aaaaaa;
	}

	#main {
		padding-bottom: 30px;
	}

	#main article .section-holder {
		padding: 81px 10px 43px;
	}

	#main article .section-holder h2 {
		padding-left: 65px;
		font-size: 32px;
		line-height: 45px;
		background-size: contain;
	}

	#main article .content-list {
		padding-left: 0;
	}

	#main article .content-list li {
		padding-right: 0;
	}

	#main article .content-list .company {
		margin-right: 0;
		margin-bottom: 1em;
	}

	footer {
		padding: 15px 0px 25px;
	}

	footer .text-remix {
		background-position: 50% 0;
	}

	footer ul li {
		display: inline;
		margin: 0;
	}

	footer ul li a {
		display: inline-block;
		margin: 0;
	}

	footer ul li + li a {
		display: inline-block;
		margin-left: 10px;
	}

	footer ul {
		text-align: center;
	}

	footer ul .btn span {
		float: none;
		display: inline-block;
	}
}

@media only screen and (max-device-width:640px) and (orientation:landscape) {
	body {
		-webkit-text-size-adjust: 75% !important;
		margin: 0 20px;
	}
}

.flash-message{position:fixed;top:0;left:0;right:0;height:50px;color:white;z-index:32000;text-align:center;font-size:18px;line-height:50px;cursor:n-resize}.flash-message a{color:white;text-decoration:underline}.flash-message.valid{background:#8dbd67;border-top:1px solid #d1e48e;border-bottom:1px solid #444}.flash-message.notice{background:orange;border-top:0;border-bottom:1px solid #444}.flash-message.error{background:#c40e3c;border-top:1px solid #ea1762;border-bottom:1px solid #444}